pytest==7.4.4
boto3==1.28.30
dateparser==1.1.8
ipykernel==6.27.0
jsondiff==2.0.0
matplotlib==3.7.1
numpy==1.25.2
pandas==2.1.1
pydantic==1.10.10
pyopenssl==22.1.0
python_dotenv==1.0.0
scipy==1.11.2
seaborn==0.13.0
wasabi==1.1.2
word2number==1.1
PyPDF2==3.0.1
streamlit==1.32.2
plotly==5.20.0
typer==0.12.3
streamlit-aggrid==1.0.4.post3
streamlit-pdf-viewer==0.0.10
numerize
streamlit-echarts==0.4.0
